<nav class="navbar">
    <a href="/" class="navbar-brand">
        <img src="/assets/logos/dna-trails-logo-black.png" alt="DNA Trails Logo" class="h-8 w-auto">
    </a>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/#communityRun" class="nav-link">Community Run</a></li>
        <!-- <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>  -->
        <li class="nav-item"><a href="/calendar/" class="nav-link">Calendar</a></li>
        <li class="nav-item"><a href="/shoe-sale/" class="nav-link">Shop</a></li>
        <li class="nav-item"><a href="/routes/" class="nav-link">Routes</a></li>
        <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/contact/" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="/#FAQ" class="nav-link">FAQ</a></li>
    </ul>
    <button class="mobile-menu-toggle"><span></span><span></span><span></span></button>
    <div class="mobile-menu">
        <a href="/#communityRun" class="mobile-nav-link">Community Run</a>
        <!-- <a href="/blog" class="mobile-nav-link">Blog</a> -->
        <a href="/calendar/" class="mobile-nav-link">Calendar</a>
        <a href="/shoe-sale/" class="mobile-nav-link">Shop</a>
        <a href="/routes/" class="mobile-nav-link">Routes</a>
        <a href="/contact/" class="mobile-nav-link">Contact</a>
        <a href="/#FAQ" class="mobile-nav-link">FAQ</a>
    </div>
</nav>
